body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background: url("pink-marble.jpg") no-repeat;
    background-size: cover;
    font-family: cursive;
    overflow-y: auto;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(255, 255, 255, 0.5); /* For Firefox */
}

#welcome-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.message {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    font-size: 2em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome-message {
    /* background-color: blue; */
    color: black;
}

#invite-message {
    /* background: url("pink-marble.jpg") no-repeat; */
    /* background-size: cover; */
    color: black;
}

#main-content {
    text-align: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease-in-out; /* Added transition */
    width: 100%;
    height: 100%;
    color: black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.visible {
    opacity: 1;
}

.hidden {
    display: none;
}
@media (max-width: 768px) {
    .message {
        font-size: 1.5em; /* Smaller font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .message {
        font-size: 1em; /* Even smaller font size for very small screens */
    }
}