body, html {
    /* margin: 0; */
    /* padding: 0; */
    width: 100%;
    height: 100%;
    display: auto;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background: url("ultrahdimage.png") no-repeat center center fixed;
    background-size:cover;
    font-family: cursive;
    /* overflow: auto; */
}

#welcome-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}

.message {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    font-size: 2em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#welcome-message,#invite-message {
    font-size: 150px;
    color: white;
}

#main-content {
    text-align: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 1s ease-in-out; /* Added transition */
    width: 100%;
    height: 100%;
    color: black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* overflow: visible; */
    /* overflow-y: auto; Enable vertical scrolling */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.5) rgba(255, 255, 255, 0.5); /* For Firefox */
}
/* Customize scrollbar for WebKit browsers */
#main-content::-webkit-scrollbar {
    width: 8px;
}

#main-content::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2); /*// Track color */
}

#main-content::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); /*Scrollbar color */
    border-radius: 10px;
}
.visible {
    opacity: 1;
}

.hidden {
    display: none;
}
@media (max-width: 768px) {
    .message {
        font-size: 1.5em; /*Smaller font size for smaller screens*/
    }
}

@media (max-width: 480px) {
    .message {
        font-size: 1em;  /*Even smaller font size for very small screens  */
    }
}